dotenv

if [ -f ~/.ssh/snowflake_tf_snow_key.p8 ]; then
  export SNOWFLAKE_PRIVATE_KEY=`cat ~/.ssh/snowflake_tf_snow_key.p8`
fi

export SNOWFLAKE_ACCOUNT_IDENTIFIER="${SNOWFLAKE_ORGANIZATION_NAME}-${SNOWFLAKE_ACCOUNT_NAME}"
