dotenv

# Terraform Variablen
export TF_VAR_aws_region=$AWS_REGION
export TF_VAR_aws_profile=$AWS_PROFILE
export TF_VAR_s3_data_lake_bucket_name="${PROJECT_NAME}-i${ITERATION}-data-lake"
export TF_VAR_credential_file=$CREDENTIAL_FILE
export TF_VAR_aws_terraform_user=$AWS_TERRAFORM_USER
export TF_VAR_environment=$ENVIRONMENT

#export SNOWFLAKE_ACCOUNT_IDENTIFIER="${SNOWFLAKE_ORGANIZATION_NAME}-${SNOWFLAKE_ACCOUNT_NAME}"
export SNOWSQL_ACCOUNT="${SNOWFLAKE_ORGANIZATION_NAME}-${SNOWFLAKE_ACCOUNT_NAME}"
export SNOWSQL_USER=$SNOWFLAKE_USER
export SNOWSQL_ROLE=ACCOUNTADMIN